<div class="btn btn-warning"><%= link_to "Artists", artists_path %></div>
<br>
<div class="btn btn-info"><%= link_to "Songs", songs_path %></div>
<br>
<div class="btn btn-danger"><%= link_to "Genres", genres_path %></div>
